<aside class="left-side sidebar-offcanvas">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-th-list"></i>
          <span>Application Administrator</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li class="treeview">
        {{#link-to 'payment-types-list'}}<i class="fa fa-external-link"></i> Payment Type Maintenance{{/link-to}}
      </li>
    </ul>
  </section>
</aside>
