<aside class="right-side">
  <section class="content-header">
    <h1>Payment Types</h1>
  </section>
  <section class="content">
    <div class="row">
      <div id='content'>
        <div class="col-xs-12">
          <button class="btn btn-primary mb15 pull-right">Add</button>
          <div class="box">
            <div class="box-body table-responsive" style="width:2600px;">
              {{payment-types-table model=model}}
            </div>
          </div>
          <div class="pull-right">
            <button class="btn btn-default mr5">&laquo; Prev</button>
            <button class="btn btn-default ml5">&raquo; Next</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</aside>
